* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  /* width: 100%; */
  background-image: url('bg_bottom.png');
  background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed;
    backdrop-filter: blur(4px); */
  
}

.logo{
    position: absolute;
  
}
.logo img{
   width: 30%;
   margin-top: -22px;
}
nav {
  /* background-color: navy; */
  
  width: 100%;
  height: 80px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
}
nav ul li a {
  font-size: 20px;
  text-transform: uppercase;
  margin: 30px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: #f7f7f9;
}
.boxes{
    display: flex;
    justify-content: center;
}
 .boxes .box {
    /* align-items: center; */
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: linear-gradient(135deg,#101040,hsla(0,0%,100%,0));
    border: 1px solid hsla(0,0%,100%,.18);
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    margin: 80px 80px;
    display: inline-flex;
    width: 30vw;
    height: 35vw; 
    overflow: hidden;
 }

 .boxes img{
    position: absolute;
    width: 200px;
    height: 200px;
    border-left: 16px;
    /* height: auto; */
 }
.box {
  position: relative;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  text-align: start;
  align-items: flex-start; 
}
.box .about-text{
    margin: 15vw 15px;
    line-height: 23px;
   
}
.box h2{
   
   position: absolute;
  
    color: rgb(80, 227, 205);
}
.box h4{
    color: #f67947;

}
.box p{
   position: absolute;
   bottom: 20%;
    color: #f7f7f9;
}
 .btn{
    position: absolute;
    width: 50%;
    height: 10%;
    font-size: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 2%;
    background: hues;
    background-color: rgb(7, 11, 248);
    color: rgb(225, 225, 225);
    font-weight: bold;
    margin: 15px;
    /* border: 4px solid rgb(105, 244, 6); */

}
.btn:hover{
    cursor: pointer;
    background-color: rgb(2, 6, 200);
}

.div2{
    background-image: url('bg.bottom.png');
}
